
body {
	text-align: center;
	overflow-x: hidden;
	resize: none;
	background-color: #333;
}

/*footer*/

footer{
	background-color: #964B13;
    border-top: .1em solid #fff;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    margin-top: -21px;
}

footer
p {
	color: #BEBACC;
}

#endtag {
	font-family: 'Poiret One', cursive;
	font-size: .8em;
	margin-top: 1.5em;
	color: #2A97FF;
}

.container
a {
	text-decoration: none;
	color: #BEBACC;
	font-size: .9em;
}

.container 
h2 {
	color: #fff;

}

.logos {
	margin-right: auto;
	margin-left: auto;
}
/*header*/
.navbar-inverse {
background-color: #964B13;
margin-right: auto;
margin-left: auto;
width: 85%;
border-radius: 0 0 10px 10px;
opacity: .9;
}
.navbar-header h1 {
	margin-left: 10px;
}

#navbar .words {
	font-size: 1.4em;
	margin-top: 22px;
}




/* background images */

.slideOne,
.slideTwo,
.slideThree,
.slideFour,
.slideFive{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slideOne {
	background-image: url('image/background.jpg');
	text-shadow: 5px 8px 10px #222; /* offset horizontal, offset vertical, blur, color */
	color: white;

}

.slideTwo {
	background-image: url('image/skyline.jpg');
}

.slideThree {
	background-image: url('image/clouds.jpg');
	overflow-x: hidden;
	overflow-y:hidden;
}

.slideFour {
	background-image: url('image/summer-road.jpg');
}

.slideFive {
	background-image: url('image/island.jpg');
}

.slideOne {
	margin-top: 0;
}

.grass {
	width: 100%;
	margin-top: -104px;
	position: relative;
}


/*content section*/
.jumbotron {
	margin-bottom: 0;
	min-height: 800px;
	background-color: #333;
}

.container {
	margin-top:0;
}


.loc {
	background-color: #BEBACC;
	border-radius: 15px;
	width: 300px;
	height: 300px;
	padding-top: 5px;
	margin-top: 8em;
	box-shadow: 0 15px 20px -10px rgba(0,0,0, .8);
}

.loc h3{
	margin-top: -1.5px;
}

.plane_logo {
	height: 70px;
	width: 95px;
}

.plane{
	margin-right: -150%;
}

h1 {
text-shadow: 5px 8px 10px #222; /* offset bottom, offset right, blur, color */
color: white;
}

.cont {

	margin-top: 65px;
}

.navbar-toggle {
text-align: center;
}


.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #964B13;
}



/*media queries*/

@media screen and (max-width: 1021px) {
	#navbar .words {
	font-size: 1em;
	margin-top: 25px;
}
}

@media screen and (max-width: 883px) {
.plane_logo {
	height: 45px;
	width: 70px;
}
.navbar-header h1 {
	font-size: 26px;
}
	#navbar .words {
	font-size: .9em;
	margin-top: 15px;
}

}


@media screen and (max-width: 767px) {
	#navbar .words {
	font-size: 1.5em;
	margin-top: 0;
}
.navbar-header h1 {
	font-size: 36px;
	display: inline-block;
}
.navbar-toggle {
	margin-top: 23px;
}
}

@media screen and (max-width: 314px) {

.navbar-header h1 {
	font-size: 26px;
	display: inline-block;
}
.navbar-toggle {
	margin-top: 15px;
}
}